<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="Helpfulcore.Caching.Sitecore.CachingServicesConfigurator, Helpfulcore.Caching.Sitecore" />
    </services>
    <helpfulcore>
      <caching>
        <cacheProvider type="Helpfulcore.Caching.Sitecore.SitecoreCacheProvider, Helpfulcore.Caching.Sitecore" singleInstance="true">
          <param name="cacheRepository" ref="helpfulcore/caching/cacheRepository"/>
        </cacheProvider>
        <cacheRepository type="Helpfulcore.Caching.Sitecore.SitecoreCacheRepository, Helpfulcore.Caching.Sitecore" singleInstance="true">
          <param name="cacheName">Helpfulcore.Caching.CacheProvider</param>
        </cacheRepository>
      </caching>
    </helpfulcore>
  </sitecore>
</configuration>